*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.cons{
    background-image: linear-gradient(rgba(0, 0, 0, 0.888),rgba(0, 0, 0, 0.814)),url(images/gov2.jpg);
    height: 100vh;
    background-position: center;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding-top: 100px;
}
form{
    width: 40%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.437);
    color: white;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
}
div button{
    padding: 10px 80px;
    border: none;
    background-color:rgba(0, 100, 0, 0.369);
    color: white;
}
h2{
    color: white;
}
span{
    color:rgba(0, 100, 0, 0.369) ;
}